@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');


#root {
  font-family: "Markazi", serif;
  font-weight: 400;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}


h1, h3 {
  margin: 0;
}


.forms {
  width: 600px;
}



label {
  font-weight: bolder;
  width: 100%;
  text-align: left;
}

button:hover {
 cursor: pointer;
}

h1 {
  color: rgb(33, 33, 33);
  margin: 0;
}

.expandable-form {
  background:white;
  color: black;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

input {
  color: black;
  background: rgb(239, 234, 234);
  font-size: 1rem;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

input:focus {
  border: 0;
  outline: none;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-header h1 {
  font-size: 1.35rem;
}

form button {
  background: rgb(54, 135, 227);
  border: 0;
  padding: 10px;
  border-radius: 5px;
}

.form-header button {
  width: 75px;
  height: 35px;
  background: rgb(54, 135, 227);
  border-radius: 10px;
  outline: 0;
  border: 0;
}

.full-name {
  font-weight: bolder;
  font-size: 2rem;
}

.resume-page h1 {
  font-size: 1.25rem;
  font-family: serif;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

button {
  color: white;
}

.resume-page h3 {
  font-size: 0.9rem;
  font-family: "Markazi";
  font-weight: 8=600;
  padding: 0;
}

.contact-details {
  font-weight: lighter;
}

.experience-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}


.experience-section {
  width: 80%;
  height: 0;
  border-top: 1px solid black;
  padding: 0;
  margin: 0;
  text-align: left;
}

textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;

}

.experience-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.experience-header h3 {
  margin: 0;
  padding: 0;
}

.date-range {
  font-weight: 100;
}

ul {
  padding-left: 25px;
  margin: 0;
}

li {
  font-size: .85rem;
}

.submit-btn {
  width: 100%;
}

.education-section {

}

.resume-page {
  background: rgb(255, 255, 255);
  width: 600px;
  height: 846px;
  color: black;
  padding: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


